doctype 5
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/timbre.js')
    script(type='text/javascript', src='/javascripts/paper-core.js')
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js")
    script(type='text/javascript', src="/javascripts/audio.js")
    script(type='text/javascript', src="/javascripts/p.js")
    script(type='text/javascript', src="/javascripts/a.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="paper-demo", style="background: rgb(51, 51, 51)")
    div(style="width: 960px; margin: 0 auto;")
      canvas(paper, resize="true", width="960", height="960", data-paper-id="myCanvas")
